/********* Reset ************/
* {
    margin: 0;
    padding: 0;
}
/********* wrapper et génériques *********/



/************** Carte *****************/
#map {
    width: auto;
    height: 800px;
    z-index: 1;
}
/************* Résultats **************/
.resultats {
    overflow: auto;
    position: relative;
}
.bouton-ajout-comment-resto {
    float: right;
}
/* Nom Restaurant */
.name-resto {
    cursor: pointer;
}
/* Bouton Close */
.close {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 28px;
    font-weight: bold;
    display: block;
}
/************* Ajout de commentaires *************/
#myModal {

}